@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme {
  --heading-color: #23001B;
  --secondary-color: #FCFCFC;
  --tertiary-color: #A4007E;
  --button-color: #FF7BA9;
  --hover-button-color: #E26D96;
  --links-color: #851B00;
}

body {
  font-family: var(--poppins-font), sans-serif;
}